body{
    background-image: url('bkg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    max-width: 100%;
    height: auto;
}

.home-link, a:link{
    margin-top: 3%;
    margin-bottom: 3%;
    color: rgb(206, 101, 15);
    text-align: center;
    text-decoration: none;
}

.home-link{
    padding: 15px;
    background-color: rgba(rgb(212, 60, 60), rgb(0, 0, 0), rgb(0, 0, 0), 0.8);
    opacity: 0.5;
    font-weight: bold;
}

.quote{
    color: aliceblue;
     padding-top: 10%; 
     padding-bottom: 10%;
     padding-right: 10%;
     padding-left: 20px;
     font-size: 30px;
}
.header-tab{
    color: aquamarine;
    background-color: none;
    display: flex;
}

.header-tab > .menu{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 500px;
    margin: 0.5% auto;
}

.ud{
    margin: 0.5% auto;
    padding: 5%;
    width: 10%;
}

.course-button{
    padding: 5px;
    margin: 0.5%;
    color: aliceblue;
    background-color: rgb(212, 127, 127);
    background-blend-mode: lighten;
}

.features-plate, p{
    display: flex;
    background-color: aliceblue;
    width: 30%;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .header-tab > .menu{
        width: 100%;
    }
    
    .features-plate, p{
        display: flex;
        width: 100%;
    }
    
    .ud{
        margin: 0.5% auto;
        padding: 5%;
        width: 100%;
    }
    
    .quote{
        color: aliceblue;
        padding-top: 10%; 
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 20px;
        font-size: 30px;
    }
    
    .home-link{
        padding: 15px;
        background-color: rgba(rgb(212, 60, 60), rgb(0, 0, 0), rgb(0, 0, 0), 0.8);
        opacity: 0.5;
        font-weight: bold;
    }
    
    .home-link, a:link{
        margin-top: 3%;
        margin-bottom: 3%;
        color: rgb(206, 101, 15);
        text-align: center;
        text-decoration: none;
    }
    
    body{
        background-image: url('bkg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: lighten;
        max-width: 100%;
        height: auto;
    }
}